
* {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    background-color: #2d2e30;
}

a {
    text-decoration: none;
    color: #fff;
}

.textarea {
    height: 200px;
}

.dashboard-card {
    width: 350px;
}

.form-select {
    color: #fff;
}

.onMouse:hover {
    background-color: #26282a;
}